.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
*.iml
.idea/
.vscode/

# Local signing and platform files
android/key.properties
ios/Runner.xcworkspace/
